/*Fuente INTER*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Formatear estilos*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

/*****CABECERA*******/
.cabecera {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
	z-index: 3;
}


.logo {
	width: 10%;
	height: 100%;
}

.logo img {
	width: 50%;
	height: 100%;
	margin-left: 20%;


}

.menu {
	width: 90%;
	height: 100%;
	display: flex;
	padding-top: 1%;
	padding-left: 30%;


}

.menu #inicio,
#tours,
#traduccion,
#contacto {
	width: auto;
	height: 100%;
	margin: auto;
	padding: 1%;
	transition: 0.7s;
}

#acerca {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	transition: 0.7s;
}

.menu p {
	text-align: center;
	font-weight: bold;
}

.menu div:nth-child(-n+4):hover {
	border-radius: 15px;
	background-color: rgba(1, 162, 204, 0.18);
	cursor: pointer;
	color: #0087a8;
	transition: background-color, color, border-radius 0.7s ease;
}

.menu #traduccion:hover {
	border-radius: 15px;
	background-color: pink;
	cursor: pointer;
	transition: background-color, border-radius 0.7s ease;
}

.menu #traduccion:hover p {
	color: #CC0101;
	transition: color 0.7s ease;
}

.menu #acerca .fa-chevron-up,
.menu #traduccion .fa-chevron-up {
	transform: rotate(0deg);
	transition: transform 0.7s ease;
}

.menu #acerca:hover .fa-chevron-up,
.menu #traduccion:hover .fa-chevron-up {
	transform: rotate(180deg);
	transition: transform 0.7s ease;
}

/********************/
/*Portada e imagenes*/
.portada {
	width: 100%;
	height: 450px;
	position: relative;

}

.portada img {
	width: 100%;
	height: 100%;
}

.encabezado {
	position: relative;
	width: 100%;
	/* Ajusta el ancho máximo según tus necesidades */
	margin: 0 auto;
	/* Centra el contenedor */
}

.encabezado img {
	max-width: 100%;
	height: 450px;
	object-fit: cover;
	display: block;
}

.text-overlay {
	position: absolute;
	top: 40%;
	/* Ajusta la posición vertical del texto */
	left: 50%;
	/* Ajusta la posición horizontal del texto */
	transform: translate(-50%, -50%);
	color: #fff;
	/* Color del texto */
	padding: 10px;
	/* Espacio alrededor del texto */
	font-size: 40px;
	/* Tamaño del texto */
	font-weight: bold;
	/* Grosor del texto (opcional) */
}


.indexportada {
	width: 100%;
	height: 250px;
	display: flex;
	top: 70%;
	justify-content: space-evenly;
	position: absolute;
}

.indexportada figure {
	height: 250px;
	width: 300px;
	border-radius: 18px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transition: box-shadow 0.7s;
}


.indexportada figure:hover {
	cursor: pointer;
	box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.30);
	transition: box-shadow 0.5s;
}

/********************/


/***TOURS POPULARES SECTION ****/
#tours_populares {
	margin-top: 150px;
	position: static;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/*CONTROLAR EN DISPOSITIVOS PEQUEÑOS*/

.splide__track {
	margin: 40px 0px;
}

.tours_populares_item {
	height: 350px;
	margin: 0px 50px;
	border-radius: 18px;
	background-color: #D9D9D9;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transition: box-shadow 0.7s;
}

.tours_populares_item:hover {
	box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.30);
	transition: box-shadow 0.5s;
}

.tours_populares_imagen {
	height: 75%;
}

.tours_populares_imagen img {
	width: 100%;
	height: 100%;
	border-radius: 18px;
	object-fit: cover;
}

.tours_populares_info {
	height: 25%;
	margin-top: 10px;
}

.tours_populares_info_titulo {
	font-weight: bold;
	text-align: center;
}

.tours_populares_info_dis_y_pais {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 10px;
}

.tours_populares_info_dis_y_pais button {
	padding: 7px 15px;
	margin: auto;
	color: white;
	background-color: #00BD35;
	border: none;
	border-radius: 18px;
	font-weight: bold;
}

.tours_populares_button {
	padding: 20px;
	margin: auto;
	background-color: white;
	border-radius: 18px;
	border: 4px solid #00BD35;
	box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0);
	font-weight: bold;
	transition: box-shadow 0.5s;
}

.tours_populares_button:hover {
	cursor: pointer;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transition: box-shadow 0.5s;
}

/*Footer*/
footer {
	position: static;
	margin: 200px 0px 0px 0px;
	display: flex;
	border-top: 1px solid black;
	flex-direction: column;
}

.footer_arriba {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.redes_sociales_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 20px 0px;
}

.redes_sociales_footer div {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: black;
	background-color: #cdcbcb;
	transition: background-color, color 0.7s ease;
}

.redes_sociales_footer div:hover {
	background-color: #01A2CC;
	color: white;
	cursor: pointer;
	transition: background-color, color 0.7s ease;
}

.ubicacion_footer {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.footer_arriba img.logo {
	width: 20%;

}

footer .copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 0px;
}

/********************/